.pageMaterial {
  display: flex;
  justify-content: center;
}

.homeHead {
  display: inline-flex;
  background-color: purple;
  justify-content: space-between;
  width: 75%;
}

.createApi {
  background-color: black;
  justify-content: flex-end;
}

.cohortId {
  background-color: blue;
  justify-content: flex-start;
}

.searchbarHome {
  background-color: yellow;
  justify-content: flex-start;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-color: white;
  color: white;
  padding-top: 80px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay-content {
  padding: 40px;
  box-shadow: 0 2px 5px rgba(179, 179, 179, 0.3);
  color: white;
  background-color: rgb(175, 175, 175);
  width: 480px;
  height: 420px;
  &:hover {
    box-shadow: 0 0 10px rgb(218, 218, 218);
  }
}

#overlay-close-button {
  position: relative;
  left: 10px;
  top: -250px;
  width: 30px;
  height: 30px;
  border-radius: 30px;
}

.form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  background-color: #45a049;
}

.formGroup {
  margin-bottom: 20px;
}

.formGroup-2 {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.formGroup > h2 {
  margin-bottom: 30px;
}

.input-one {
  height: 40px;
  border: 1px solid #ccc;
  font-size: 16px;
  font-weight: 400;
  padding-left: 10px;
  width: 470px;
  margin-bottom: 30px;
}

.input-description {
  height: 110px;
  margin-bottom: 30px;
}

.login-button {
  padding-top: 15px;
  padding-bottom: 15px;
  color: white;
  width: 150px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 10px;
  background-color: green;
  border-radius: 20px;
  font-size: 18px;
}

.login-button:hover {
  background-color: #45a049;
}

.input-one:focus {
  outline: none;
}

.main-header {
  margin-top: 50px;
  height: 100px;
  display: flex;
  justify-content: center;
}

.main-header > div {
  width: 1200px;
}

.content {
  margin-top: 10px;
  display: flex;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  margin-top: 0px;
}

.input-bar-home {
  width: 800px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 10px;
  font-size: 16px;
}
.button {
  height: 50px;
  width: 140px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: auto;
}

.button:hover {
  background-color: #45a049;
}

.button:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.one {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.scroll-container {
  overflow-y: auto;
  width: 1200px;
  min-height: 400px;
  max-height: 70vh;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 35px;
}

.box {
  display: flex;
  background-color: #f1f1f1;
  padding: 20px;
  flex-direction: column;
  width: 315px;
  height: 290px;
  word-wrap: break-word;

  &:hover {
    box-shadow: 0 0 10px rgb(190, 105, 105);
  }
}

.btn {
  display: flex;
  justify-content: flex-end;
}

.api-image {
  max-width: 100px;
  max-height: 100px;
}

.api-content {
  margin-top: 10px;
}

.button-comment {
  display: flex;
  justify-content: flex-end;
  margin-top: 50px;
}
.button-comment button {
  padding-top: 8px;
  padding-bottom: 8px;
  color: white;
  width: 80px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  background-color: green;
  border-radius: 20px;
  font-size: 14px;
}

.api-content h3 {
  margin-bottom: 10px;
}

.api-content p {
  margin-top: 10px;
}

.tech-item-name {
  font-size: 22px;
  color: blue;
  text-decoration: none;
}
.home-top-all-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 120px;
}
.home-top-title-button {
  display: flex;
  direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  margin-top: 40px;
  margin-bottom: 0px;
}
