/*c
add a universal "background color" to a "variables" pallete scss file AND import that to _appStyles.css}
*/
/*
add a universal "Text color" to a "variables" pallete scss file AND import that to _appStyles.css}
*/
@import './client/styles/_variables.scss';

.Navbar {
  padding: 10px;
  display: flex;
  list-style-type: none;
  justify-content: flex-start;
  background-color: #6190E8;
}

/*
add a universal "on hover color" to a "variables" pallete scss file AND import that to _appStyles.css}
*/
.Navbar li:hover {
  background-color: $fifth;
  color: $fourth;
}

.Navbar li {
  margin-left: 10px;
}

.Navbar li:last-child {
  margin-right: 40px;
}
