/*
add a universal "background color" to a "variables" pallete scss file AND import that to _appStyles.css}
add a universal "Text color" to a "variables" pallete scss file AND import that to _appStyles.css}
add a universal "on hover color" to a "variables" pallete scss file AND import that to _appStyles.css}
*/

.Navbar {
  padding: 10px;
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: space-between;
  background-color: $third;
  color: black;
  height: 35px;

  #right {
    display: flex;
    flex-direction: row;
    justify-self: right;
    justify-content: center;
    p {
      margin: 20px;
    }
  }
  #left {
    p {
      margin: 20px;
    }
  }
  p:hover {
    background-color: $fifth;
    color: $fourth;
  }
}
