.body2 {
  display: grid;
  grid-template-rows: 1;
  justify-content: center;
  margin: 15px;
}

.form_contents {
  display: grid;
  grid-template-rows: 3;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 100%;
  min-height: 400px;
  min-width: 400px;
}

.login_form_container {
  display: flex;
  justify-content: center;
  padding: 10px;
  border: 2px black solid;
  border-radius: 10%;
  width:100%;
  height: 100%;
  min-height: 200px;
  max-height: 90%;
  min-width: 200px;
  max-width: 90%;

}

.login_form {
  display:flex;
  width: 90%;
  height: 90%;
}

.submit_button_box {
  display: flex;
  justify-content: flex-end;
  margin: 10px;
}