/*
add a universal "background color" to a "variables" pallete scss file AND import that to _appStyles.css}
*/
/*
add a universal "Text color" to a "variables" pallete scss file AND import that to _appStyles.css}
*/

$blue4: #112D4E;
$blue3: #3F72AF;
$blue2: #DBE2EF;
$blue1: #F9F7F7;


.Navbar {
  padding: 8px;
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
  background-color: $blue3;
  color: black;
}

/*
add a universal "on hover color" to a "variables" pallete scss file AND import that to _appStyles.css}
*/
.Navbar li:hover {
  background-color: $fifth;
  color: $fourth;
}

.Navbar li {
  margin-left: 20px;
}

.Navbar li:last-child {
  margin-right: 40px;
}
